* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

.hero {
    width: 1445px;
    height: 100vh;
    background-color: #1A2238;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: absolute;
}

.logo {
    width: 200px;
    cursor: pointer;
    height: 50px;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: #FF6A3D;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    align-self: auto;
}

.content {
    color: #FF6A3D;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

small {
    font-size: 500%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 38px;
    margin: 10px 0 30px;
    line-height: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.side-bar {
    width: 90px;
    height: 400vh;
    background: linear-gradient(#171e33, #000729);
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-2%);
}

small {
    font-size: 55px;
}

.menu {
    display: block;
    width: 25px;
    margin: 150px auto 0px;
    cursor: pointer;
    color: white;
    top: 10%;
}

.social-links img,
.useful-links img {
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}